<h2>Hero Detail</h2>
<hr>
<h3>
  <i>A FormGroup with multiple FormControls</i>
</h3>
<hr>
<form [formGroup]="heroForm">
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <div formGroupName="address" class="well well-lg">
    <h4>Secret Lair</h4>
    <div class="form-group">
      <label class="center-block">Street:
        <input class="form-control" formControlName="street">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">City:
        <input class="form-control" formControlName="city">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">State:
        <select class="form-control" formControlName="state">
          <option *ngFor="let state of states" [value]="state">{{state}}</option>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Zip Code:
        <input class="form-control" formControlName="zip">
      </label>
    </div>
  </div>
  <div class="form-group radio">
    <h4>Super power:</h4>
    <label class="center-block">
      <input type="radio" formControlName="power" value="flight">Flight</label>
    <label class="center-block">
      <input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
    <label class="center-block">
      <input type="radio" formControlName="power" value="strength">Strength</label>
  </div>
  <div class="checkbox">
    <label class="center-block">
      <input type="checkbox" formControlName="sidekick">I have a sidekick.
    </label>
  </div>
</form>

<hr>
<hr>
<hr>

<button class="button" (click)="callSetValue()">callSetValue</button>
<button class="button" (click)="initHero()">initHero</button>

<hr>
<hr>
<hr>

<p>Form value: {{ heroForm.value | json }}</p>
<p>Form pristine: {{ heroForm.pristine | json }}</p>
<p>Form untouched: {{ heroForm.untouched | json }}</p>
<p>Form status: {{ heroForm.status | json }}</p>
<p>Name value: {{ heroForm.get('name').value }}</p>
<p>Street value: {{ heroForm.get('address.street').value}}</p>
<p>Street value: {{ heroForm.get('address').get('street').value}}</p>


<!-- 
  
https://angular.io/api/forms/AbstractControl

Property	            Description
myControl.value	    : the value of a FormControl.

myControl.status    : the validity of a FormControl. Possible values: VALID, INVALID, PENDING, or DISABLED.

myControl.pristine	: true if the user has not changed the value in the UI. Its opposite is myControl.dirty.

myControl.untouched	: true if the control user has not yet entered the HTML control and triggered its blur event. Its opposite is myControl.touched. 


-->